@charset "UTF-8";

body{
	background-color: #F0FFFF;
}
.reservation{

	margin-bottom: 30px;
}
.reservationtitle {
	
	color:#00f;
	font-size: 50pt;
	text-align: center;
	border-bottom: 1000pt;
}
.input-group{
	margin: 0px auto;
	margin-bottom: 15px;
	width: 50%;
	height:50px;

}
.input-group-addon{
	font-size: 14px;
	height:5px;
}
.form-control{
	height: 50px;
}
.btndiv{
	text-align: center;
}
th{
	text-align: center;
}

/* 設定預約頁面的title */
#title{
	color:blue;
	font-size:50px;
	text-align:center;
}

/* 下面語法為調整header和footer的CSS樣式 */
.fixed-top {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    margin-top: -56px;
    font-size: 16px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    margin-right: 523px;
}
.fc-title {
    word-break: normal;
    width: 130px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    color: white;
}
.text-center {
    text-align: center!important;
    font-size: 16px;
}

