#imgView {
	width:100%;
	height:100%
}

#imageView{
	width:50%;
	height:50%
}
#imageView1{
	width:50%;
	height:50%
}
#imageView2{
	width:50%;
	height:50%
}
#imageView3{
	width:50%;
	height:50%
}
#imageView4{
	width:50%;
	height:50%
}
#offstatusselect{
	height:10px;
}
.input-group{
	font-size:22px;
	height:10px;	
}
#imgView1 {
	width:100%;
	height:100%;
}